    </div>
          </div>
        </div>
        <aside class="extra">
          <figure>
            <figcaption><b>routes</b></figcaption>
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="/login">login</a></li>
              <li><a href="/join">join</a></li>
              <li><a href="/create">create</a></li>
              <li><a href="/read">read</a></li>
              <li><a href="/update">update</a></li>
              <li><a href="/delete">delete</a></li>
            </ul>
          </figure>
    
  
        </aside>
      </article>
      <aside class="sidebar" role="complementary">
  
        <div>
          <p>gaming</p>
          <a href="http://localhost:8081/pages/gaming/index.html">
            <img class="image_cover header" src="http://localhost:8081/resources/images/gaming_landscape.jpg" alt="cover_lanscape">
          </a>
        </div>
        <div>
          <p>job</p>
          <a href="http://localhost:8081/pages/web-development/job/index.html">
            <img class="image_cover header" src="http://localhost:8081/resources/images/cover_ark_landscape.jpg" alt="cover_lanscape">
          </a>
        </div>
        <div>
          <p>life</p>
          <a href="http://localhost:8081/pages/life/index.html">
            <img class="image_cover header" src="http://localhost:8081/resources/images/cover_31.jpg" alt="cover_lanscape">
          </a>
        </div>
  
  
       
      </aside>
    </div>
  </div>

  